import React, { Component } from 'react'
import { View } from '@tarojs/components'
import Taro from '@tarojs/taro'
import './index.scss'

export default class {{name}} extends Component {
  render() {
    return (
      <View className="{{name}}">
        <h1>{{name}} component</h1>
      </View>
    )
  }
}